
*.exe
*.out
*.app
*.elf
*.bin


*.o
*.obj
*.lo


*.a
*.lib
*.so
*.dylib
*.dll


*.dSYM/
*.su
*.idb
*.pdb


aclocal.m4
autom4te.cache/
configure
config.log
config.status
.vs/
*.vcxproj*
*.sln
*.user
.vscode/

*.log
*.tmp
*.temp
*.swp
*~
.DS_Store
*~
Thumbs.db
desktop.ini
*.gcda
*.gcno
*.gcov
*.d
